
body{
    background-color: rgb(240, 240, 240);
}
.product-header{
    display: flex;
    background-color: rgb(246, 246, 246);
    align-items: center;
    margin-bottom: 3%;
    margin-top: 6%;
}
.product-header .product-header-img{
    background-color: white;
    margin-left: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px; 
    padding: 1.7%;
}
.product-header .product-header-content{
    margin-left: 4%;
}
.product-header .product-header-content h2{
    font-size: 22px;
    font-weight: 600;
}
.product-header .product-header-content p{
    color: gray;
}
.product-header .product-header-add{
    width: 20%;
    margin-left: 48%;
}
.product-header .product-header-add a{
    padding: 6%;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px; 
    background-color: rgb(8, 120, 113);
}
.product-body{
    background-color: white;
}
.product-body-content{
    margin-left: 2%;
    padding-top: 1%;
}
.product-body-content form .mb-3 input{
    width: 20%;
    height: 40px;
    border-radius: 12px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}
.product-body-content form .mb-3 input::placeholder{
    padding-left: 3%;
}
.product-body-content form .mb-3 button{
    width: 8%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px; 
    align-items: center;
    background-color:rgb(8, 120, 113);
    height: 40px;
}
.product-body-content table{
    width: 88%;
    height: 50%;
    text-align: center;
    background-color: white;
    border-collapse:separate; 
    border-spacing: 0 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}
.product-body-content table .table-content{
    width: 100%;
    background-color: rgb(244, 244, 244);
}
.product-body-content table .table-content a{
    color: brown;
    text-decoration: none;
}