* {
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner-button {
    color: white;
    position: absolute;
    z-index: 0;
    margin-top: 17%;
    margin-left: 21%;
    text-align: center;
}
.banner-button h2 {
    margin-bottom: 2%;
}
.button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.banner img {
    max-width: 100%;
    z-index: -99;
}
.info {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 20px;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    margin-bottom: 40px;
}
.info h2 {
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding-left: 100px;
    padding-right: 100px; */
}

.categoryCard {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 1170px;
    max-height: 1170px;
    margin-right: auto;
    margin-left: auto;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 40px;
}

.categoryCard .cat1 {
    background-image: url("https://cms.curnonwatch.com/uploads/Web_Nam_c43ff3abd6.jpg");
    background-size: cover;
    background-position: center;
    padding: 180px 0px 90px 20px;
    text-decoration: none;
}

.categoryCard .cat1 p {
    font-size: 18px;
    color: white;
}
.categoryCard .cat2 {
    background-image: url("https://cms.curnonwatch.com/uploads/Web_vong_746015779e.jpg");
    background-size: cover;
    background-position: center;
    padding: 180px 0px 90px 20px;
    text-decoration: none;
}

.categoryCard .cat2 p {
    font-size: 18px;
    color: white;
}
.categoryCard .cat3 {
    background-image: url("https://cms.curnonwatch.com/uploads/Web_nu_11ee0fba3b.jpg");
    background-size: cover;
    background-position: center;
    padding: 180px 0px 90px 20px;
    text-decoration: none;
}

.categoryCard .cat3 p {
    font-size: 18px;
    color: white;
}

.bestSell {
    text-align: center;
    margin-bottom: 40px;
}
.bestSell h1 {
    font-weight: 100;
    margin-bottom: 20px;
}
.bestSell a {
    font-weight: 20;
    text-decoration: none;
    color: black;
}
/*CSS cho product*/
/* .product-container{
	justify-content: center;
	align-items: center;
	display: flex;
    margin-bottom: 20px;
}
.product {
	width: 22%; 
	display: inline-block;
	margin: 0.3%;
	border: 1px solid #ccc;
	padding-top: 16px;
	text-align: center;
	box-sizing: border-box;
}
.product-content{
    padding-top: 24px;
	padding-bottom: 8px;
}
.product-content p{
    padding-top: 8px;
}
.product-content b{
    font-size: 20px;
}
.product img {
	max-width: 80%;
	height: 30%;
}
.horizontal-line {
	width: 80%;
	height: 1px; 
	background-color: black;
}
#product-button{
    position: absolute;
    width: 22%;
    margin-left: 16.4%;
    margin-top: 15%;
    animation: fadeIn 1s; 
}
#product-button button{
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    color: rgb(0, 0, 0);
}
#product-button button{
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    color: rgb(0, 0, 0);
} */

.product_wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}
.product_top {
    display: flex;
    max-width: 1200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.product_top .product-item {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33%;
    position: relative;
}

.product-item .thumb {
    position: relative;
    width: 100%;
    padding-top: 100%;
}
.product-item .thumb img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.product-item .item-content {
    position: relative;
    padding: 20px 10px;
}
.product_info img {
    max-width: 100%;
    height: auto;
    display: block;
}
.product_top .product_info .product_addToCard {
    background-color: rgb(244, 244, 244);
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 13px 45px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    /* opacity: 0; */
    transition: opacity 0.3s ease-in-out;
    width: 80%;
}
.notice-message {
    text-align: center;
    padding: 10px;
}
.notice-message.success {
    color: green;
}
.notice-message.error {
    color: red;
}
.product_info:hover .product_addToCard {
    opacity: 1;
}
.product_top .product_info .product_addToCard:hover {
    background-color: black;
    color: white;
}
.product_ref_kind {
    margin-bottom: 2%;
    text-decoration: none;
    font-family: arial;
    font-weight: lighter;
    font-size: 13px;
    color: grey;
}
.product_ref_name {
    text-decoration: none;
    font-style: normal;
    font-size: 17px;
    color: black;
    font-weight: normal;
}
.product_font_price {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 8%;
}
.product_font_price_discount {
    font-size: 13px;
}
.product_highlight {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product_highlight:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.product_image_discount {
    text-decoration: none;
    border-radius: 150px;
    background-color: red;
    color: white;
    padding: 8px;
    font-family: Tahoma;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 16px;
}

.curnon-family-content {
    text-align: center;
    margin-bottom: 3%;
}
.curnon-family-content h2 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}
.curnon-family-content p {
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
}
