*{
    margin: 0;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.banner-button{
    color: white;
    position: absolute;
    z-index: 0;
    margin-top: 17%;
    margin-left: 21%;
    text-align: center;
}
.banner-button h2{
    margin-bottom: 2%;
}
.button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.banner img{
    max-width: 100%;
    z-index: -99;
}
.info{
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 20px;
    justify-content: center;
    background-color: rgb(237, 237, 237);
    margin-bottom: 40px;
}
.info h2{
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* padding-left: 100px;
    padding-right: 100px; */
}

.categoryCard{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 1170px;
    max-height: 1170px;
    margin-right: auto;
    margin-left: auto;
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 40px;
}

.categoryCard .cat1{
    background-image: url('https://cms.curnonwatch.com/uploads/Web_Nam_c43ff3abd6.jpg');
    background-size: cover;
    background-position: center;
    padding:180px 0px 90px 20px;
    text-decoration: none;
}

.categoryCard .cat1 p{
    font-size: 18px;
    color: white;
}
.categoryCard .cat2{
    background-image: url('https://cms.curnonwatch.com/uploads/Web_vong_746015779e.jpg');
    background-size: cover;
    background-position: center;
    padding:180px 0px 90px 20px;
    text-decoration: none;
}

.categoryCard .cat2 p{
    font-size: 18px;
    color: white;
}
.categoryCard .cat3{
    background-image: url('https://cms.curnonwatch.com/uploads/Web_nu_11ee0fba3b.jpg');
    background-size: cover;
    background-position: center;
    padding:180px 0px 90px 20px;
    text-decoration: none;
}

.categoryCard .cat3 p{
    font-size: 18px;
    color: white;
}

.bestSell{
    text-align: center;
    margin-bottom: 40px;
}
.bestSell h1{
    font-weight: 100;
    margin-bottom: 20px;
}
.bestSell a{
    font-weight: 20;
    text-decoration: none;
    color: black;
}
/*CSS cho product*/
.product-container{
	justify-content: center;
	align-items: center;
	display: flex;
    margin-bottom: 20px;
}
.product {
	width: 22%; /* Đặt chiều rộng của mỗi sản phẩm */
	display: inline-block;
	margin: 0.3%; /* Khoảng cách giữa các sản phẩm */
	border: 1px solid #ccc; /* Đường viền sản phẩm */
	padding-top: 16px;
	text-align: center;
	box-sizing: border-box;
}
.product-content{
    padding-top: 24px;
	padding-bottom: 8px;
}
.product-content p{
    padding-top: 8px;
}
.product-content b{
    font-size: 20px;
}
.product img {
	max-width: 80%;
	height: 30%;
}
.horizontal-line {
	width: 80%;
	height: 1px; /* Tăng chiều rộng và độ dày của đường kẻ ngang */
	background-color: black;
}
#product-button{
    position: absolute;
    width: 22%;
    margin-left: 16.4%;
    margin-top: 15%;
    animation: fadeIn 1s; 
}
#product-button button{
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    color: rgb(0, 0, 0);
}
#product-button button{
    width: 100%;
    background-color: rgb(238, 238, 238);
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    color: rgb(0, 0, 0);
}