*{
    margin: 0;
    padding: 0;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    width: 50%;
    margin-top: 10%;
    height: 480px;
  }
.tag-menu{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.tag-button{
    display: flex;
}
.tag-info{
    text-align: center;
    margin-bottom: 6%;
}
.info-tag{
    margin-top: 10%;
    width: 50%;
}
#order table{
  width: 100%;
  border-collapse:separate; 
  border-spacing: 0 1em;
}
#order table tr {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  border-radius: 25px;
  
}
#order table .order-info {
  cursor: pointer;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 20px; 
  border-top-right-radius: 20px; 
}
#order table td {
  border: solid 0px #000;
  border-style: none solid solid none;
  padding-left: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
}
#order input[type=button], input[type=submit], input[type=reset]{
  border: none;
  border-radius: 16px;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
}
#order .pretending{
  background-color: gray;
}
#order .asking{
  background-color: #ff8800;
  cursor: pointer;
}
#order .done{
  background-color: #00b61b;
}
#order .cancel{
  background-color: red;
}
#user button{
    font-size: 12pt;
    margin-left: 90%;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
#user div{
    margin-bottom: 3%;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}
#user div p{
    padding: 1%;
    margin-bottom: 1%;
}
  /* Style the buttons inside the tab */
.tab button {
    align-items: center;
    display: flex;
    font-weight: 500;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: rgb(154, 7, 7);
    background-color: rgb(247, 247, 247);
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    color: rgb(154, 7, 7);
    background-color: rgb(247, 247, 247);
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 40px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    display: none;
  }
  
  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    margin: 50px auto;
    margin-top: 10%;
    border: 1px solid #999;
    width: 40%;
    background-color: rgb(239, 239, 239);
  }
  .modal-content-info .information{
    color: white;
    background-color: rgb(22, 178, 134);
    display: flex;
    margin-bottom: 3%;
  }
  .modal-content-info .information-text{
    width: 70%;
    padding: 10px;
  }
  .modal-content-info .information-text span{
    text-decoration: underline;
  }
  .modal-content-info .information-text p{
    margin-bottom: 3%;
  }
  .modal-content-info .information img{
    margin-left: 5%;
    align-items: center;
    margin-top: 2%;
  }
  .modal-content-info .delivery-info{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-color: white;
    margin-bottom: 3%;
  }
  .modal-content-info .location-info{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-color: white;
    margin-bottom: 3%;
  }
  .modal-content-info .product-info{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-color: white;
    margin-bottom: 3%;
  }
  .modal-content-info .payment-info{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-color: white;
    margin-bottom: 3%;
  }
  .modal-content-info .product-info img{
    box-shadow: rgba(0.24, 0.24, 0.24, 0.24) 0px 3px 8px; 
  }
  .modal-content-info .info-content{
    margin-left: 2%;
    width: 100%;
  }
  .modal-content-info .info-content .sevendays{
    color: red;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    font-size: 12px;
    width: 94px;
    padding: 2%;
  }
  .modal-content-info .info-content p{
    margin-bottom: 2%;
  }
  .modal-content-info .payment-info .payment-type{
    font-size: 14px;
  }
  .modal-content-info .button-contact{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    background-color: white;
    margin-bottom: 3%;
  }
  .modal-content-info .button-contact button{
    padding: 18px;
    font-size: 16px;
    width: 40%;
    font-weight: 500;
  }
  .modal-content-info .button-contact .button-area{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-content-info .button-contact .button-contact1{
    background-color: transparent;
  }
  .modal-content-info .button-contact .button-contact2{
    color: white;
    width: 200px;
    /* border-color: rgb(22, 178, 134); */
    border:none;
  }
  