*{
    margin: 0;
    padding: 0;
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    width: 50%;
    margin-top: 10%;
    height: 480px;
  }
.tag-menu{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.tag-button{
    display: flex;
}
.tag-info{
    text-align: center;
    margin-bottom: 6%;
}
.info-tag{
    margin-top: 10%;
    width: 50%;
}
#order table{
  width: 100%;
  border-collapse:separate; 
  border-spacing: 0 1em;
}
#order table tr {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  border-radius: 25px;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 20px; 
  border-top-right-radius: 20px; 
}
#order table td {
  border: solid 0px #000;
  border-style: none solid solid none;
  padding-left: 2%;
  padding-top: 4%;
  padding-bottom: 4%;
}
#order input[type=button], input[type=submit], input[type=reset]{
  border: none;
  border-radius: 16px;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
}
#order .pretending{
  background-color: gray;
}
#order .delivering{
  background-color: gray;
}
#order .asking{
  background-color: #ff8800;
  cursor: pointer;
}
#order .done{
  background-color: #00b61b;
}
#user button{
    font-size: 12pt;
    margin-left: 90%;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
#user div{
    margin-bottom: 3%;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}
#user div p{
    padding: 1%;
    margin-bottom: 1%;
}
  /* Style the buttons inside the tab */
.tab button {
    align-items: center;
    display: flex;
    font-weight: 500;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    color: rgb(154, 7, 7);
    background-color: rgb(247, 247, 247);
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    color: rgb(154, 7, 7);
    background-color: rgb(247, 247, 247);
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 40px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    display: none;
  }
  
  /* Clear floats after the tab */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }